body * {
  display: inline;
}

.container {
  display: block !important;
  width: 40em;
  margin: 0 auto;
}

.main {
  display: inline;
}

textarea {
  width: 20px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  line-height: 1.2em;
}

p, ul, li {
  display: block;
}

p:last-child {
  display: inline;
}